:root {
  --color-primary: #000;
  --color-bg: #FFE09D;
  --color-primary-inverted: #FDFFB4;
  --color-bg-card: #F9A723;
  --color-bg-main: #FACD37;
  --gradient-img: linear-gradient(152.19deg, rgba(255, 234, 0, 0.9) -0.04%, rgba(255, 9, 9, 0.9) 100%);
  --gradient-btn: linear-gradient(90.8deg, #FFEA00 0.2%, #FF0909 100%);
  --gradient-btn-invert: linear-gradient(90.8deg, #FF0909 0.2%, #FFEA00 100%);
  --color-input-let: #3F4958;
  --color-bg-info: #E76161;
  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-primary);

  display: grid;
  place-items: center;
  min-height: 100vh;
}